# Compiled source #
###################
*.class
target/

# Intellij files and folders #
#############################
*.iml
.idea/

# random junk files
.DS_STORE

# log database 
state/

# reduced-pom
dependency-reduced-pom.xml

